* {
    border: none;
    font-size: 12px;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF" ;
    min-height: 25px;
}
  
  window#waybar {
    background-color: rgba(30,30,46, 0.8);
    margin: 5px 15px;
    padding: 0px 20px;
    border-radius: 8px;
  }

#custom-logo {
  padding: 0 10px;
}

.modules-right {
  padding-right: 10px;
}

.modules-left {
  padding-left: 10px;
}

#battery,
/* #custom-clipboard,
#custom-colorpicker,
#custom-powerDraw, */
#bluetooth,
#pulseaudio,
#network,
/* #disk, */
/* #memory, */
/* #backlight, */
/* #cpu, */
/* #temperature, */
/* #custom-weather, */
/* #idle_inhibitor, */
/* #jack, */
/* #tray, */
#window,
#workspaces,
#clock {
  
  padding: 0 5px;
  /* margin: 2px 0px; */
}

#battery,
#bluetooth,
#pulseaudio,
#network,
#clock {
  color: #ffffff;
    margin: 8px 2px;
    padding: 0 8px;
    border-radius:6px;
    background-color: #ad1414;
}


#pulseaudio {
  margin-top: 6px;
}

#temperature.critical,
#pulseaudio.muted {
  color: #FF0000;
}

#clock{
  color: #ffffff;
}

#battery.charging {
    color: #ffffff;
}

#battery.warning:not(.charging) {
    color: #ffffff;
}

#battery.critical:not(.charging) {
    color: #ffffff;
    margin: 8px 2px;
    padding: 0 8px;
    border-radius:6px;
    background-color: #ad1414;
}
